*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Slideshow */

.img-370-635{
    width: 370px;
}

.img-358-190-400-360{
    width: 358px;
    height: 190px;
}

.mxw-600{
    max-width: 600px;
}