/* Default setting properties */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/* Header navigator */



/* Header */

.img-400-550{
    width: 400px;
}

.fs-20{
    font-size: 55px;
}

.underline{
    text-decoration-line: underline;
}

.fs-18{
    font-size: 18px;
}

/* Slideshow */

.img-370-635{
    width: 370px;
}

.img-358-190-400-360{
    width: 358px;
    height: 190px;
}

.mxw-600{
    max-width: 600px;
}

/* Escuelas destacadas de EDteam  */

.fs-14{
    font-size: 14px;
}

.school-button{
    display: none;
}

.school-list-item:hover{
    .school-button{
        display: block;
    }
}

/* Planes de estudio */

.border-top-success{
    border-top: 6px solid green;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.border-top-warning{
    border-top: 6px solid goldenrod;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.border-top-danger{
    border-top: 6px solid darkred;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.border-top-info{
    border-top: 6px solid darkblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Tu puedes ser la próxima historia de éxito */

.border-left-top-darkblue{
    border-top: 6px solid darkblue;
}

/* No postergues más tu educación */

.text-balance{
    text-wrap: balance;
}

.fs-11{
    font-size: 11px;
}

/* Pie de la página */

.fs-12-9{
    font-size: 9px;
}

@media screen and (min-width: 1440px) {
    .img-400-550{
        width: 550px;
    }

    .img-400-635{
        width: 635px;
    }

    .img-358-190-400-360{
        width: 400px;
        height: 280px;
    }

    /* No postergues más tu educación */

    .border-left-top-darkblue{
        border-left: 6px solid darkblue;
        border-top: 0;
    }

    /* Pie de la página */

    .fs-12-9{
        font-size: 12px;
    }
}