/* Header */

.img-400-550{
    width: 400px;
    height: 350px;
}

/* Slideshow */

.img-370-635{
    width: 370px;
}

.img-358-190-400-360{
    width: 358px;
    height: 190px;
}

.mxw-600{
    max-width: 600px;
}

/* Escuelas destacadas de EDteam  */

.school-button{
    display: none;
}

.school-list-item:hover{
    .school-button{
        display: block;
    }
}

/* Tu puedes ser la próxima historia de éxito */

.border-left-top-darkblue{
    border-top: 6px solid darkblue;
}

/* No postergues más tu educación */

.text-balance{
    text-wrap: balance;
}

/* Pie de la página */

.fs-12-9{
    font-size: 9px;
}

@media screen and (min-width: 1440px) {
    .img-400-550{
        width: 550px;
    }

    .img-400-635{
        width: 635px;
    }

    .img-358-190-400-360{
        width: 400px;
        height: 280px;
    }

    /* No postergues más tu educación */

    .border-left-top-darkblue{
        border-left: 6px solid darkblue;
        border-top: 0;
    }

    /* Pie de la página */

    .fs-12-9{
        font-size: 12px;
    }
}